:root{
  --primary-color:rgb(9,36,112);
  --secondary-color:#f9df2e;
  --tertiary-color:#fdffff;
}  

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  font-size: xx-large;
}




button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.table-scrollbar {
  max-height: 300px;
  overflow-y: auto;
}

/* Scrollbar track */
.table-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 10px;
}

.table-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
  border-radius: 4px;
}

/* Scrollbar handle */
.table-scrollbar::-webkit-scrollbar-thumb {
  background: #202470; /* Color of the scrollbar */
  border-radius: 4px;
}

/* Scrollbar handle hover */
.table-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
