.navbar{
    background-color: rgb(9, 36, 112);
    padding: 0px;
    margin: 0px ;
}
.navbar-brand{
    color: var(--tertiary-color) !important;
    font-weight: bold;
}
.navbar_text{
    color: var(--tertiary-color) !important;
    font-size: 20px !important;
}
.txt span {
    height: 2px;
    background-color:var(--secondary-color);
    width: 0%;
    transition: all 0.2s ease ;
  }
  
  .txt:hover span {
    width: 100%;
  }
  
  .txt:hover div {
    color: rgb(174, 177, 171);
  }
  .navbarLogin{
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    font-weight: bold !important;
    width: 100px ;
    height: 70px ;
  }
  .navbarLogin:hover{
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    border: 2px solid var(--secondary-color) !important;
  }


  .navLinkBody{
    transition: all 1s;
    border: 3px solid transparent;
  }

  .nav-link  .active{
    border-bottom: 3px solid var(--secondary-color);
  }